* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
  }
  section {
    margin: 0 auto;
    width: 1800px;
  }
  .dropdown{
    width: 300px;
    
  }
  .item{
    color: aliceblue;
  }
  .dropdown-button {
    padding: 20px;
    font-size: 20px;
    width: 300px;
    border-radius: 0 0 10px 10px;
    background-color:rgb(3, 52, 231);
    border:none;
    color: aliceblue;
    font-weight: bold;
  }
  #dropdown-items{
    background-color:rgb(37, 83, 248);
    width: 300px;
    color: aliceblue;
    border-radius: 10px;
   
    flex-direction: column;
    position: absolute;
    transform: translateY(-200px);
    display: none;
  }
  a{
    padding: 10px;
  }